*{
	padding: 0px;
	margin: 0px;
}



header{
	color: white;
	height: 100vh; /*le header prend 100% de la hauteur (taille verticale) de l'ecran */
	align-items: left;
	background-image: linear-gradient(to bottom, rgba(40,54,55,0.603),rgba(0,0,128,0.5)),url(affiche2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 15px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
    text-size-adjust: 100px;
}

header>form{

    padding-top: 300px;
}
/**Bouton**/
button {
	width: 13em;
	height: 40px;
	margin : 10px;
	background-color: rgb(122, 122, 122);
	color: white;
	font-weight: bold;
	border: none;
	border-radius : 10px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out 0s;
  
  }
  
  /**Bouton selectionné**/
  button:hover {
	background-color: yellow;
	color: black;
  }